/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

a{
  text-decoration: none;
}
body{
  font-family: 'Montserrat','Arial',sans-serif;
}

.card-body h1{
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-bottom: 8px;
  color: #636363;

}


.featured-listings{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* // RESTAURANT CARD LISTING ITEM */
.featured-listings > home-list-bar {
  /* width: ; */
  margin: 2%;
  flex-basis: 29%;
}
.restaurant-card{
  background: #fff;
  /* width: 320px; */
  margin: 2%;
  flex-basis: 29%;
  /* height: 400px; */
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  overflow: hidden;
}

.card-header{
  /* height: 50%; */
  /* background: #000 url(http://res.cloudinary.com/jenelle-miller/image/upload/v1518632582/tupelo-cafe_a7buc9.png) center no-repeat; */
  background-size: cover!important;
  position: relative!important;
}
.bt-cat {
  border: 0px;
    background-color: #F22F59;
    padding: 5px;
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    font-family: system-ui;
    margin:6px;
}

.favorite-btn{
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  top: 124px;
  left: 24px;
  border: 2px solid #fff;
  background: #F22F59;
  padding-top: 15px;
  text-align: center;
  vertical-align: center;
  transition: .3s;
}

.card-body{
  padding: 24px;
  font-family: 'Lato','Arial',sans-serif;
  font-size: .9rem;

}

.rating ul{
  padding: 10px;
  margin-bottom: 0px;
}
.rating li{
  display: inline;
  color: #EFA127;
}


.starfull {
  fill:#EFA127!important;
}
.clippuj10 svg {
  margin-top: -10px;
}
.clippuj10 {
  width: 28px!important;
  height: 28px!important;
  cursor: pointer;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/



.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
