/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

a{
  text-decoration: none;
}
body{
  font-family: 'Montserrat','Arial',sans-serif;
}

.card-body h1{
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-bottom: 8px;
  color: #636363;

}


.featured-listings{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* // RESTAURANT CARD LISTING ITEM */
.featured-listings > home-list-bar {
  /* width: ; */
  margin: 2%;
  flex-basis: 29%;
}
.restaurant-card{
  background: #fff;
  /* width: 320px; */
  margin: 2%;
  flex-basis: 29%;
  /* height: 400px; */
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  overflow: hidden;
}

.card-header{
  /* height: 50%; */
  /* background: #000 url(http://res.cloudinary.com/jenelle-miller/image/upload/v1518632582/tupelo-cafe_a7buc9.png) center no-repeat; */
  background-size: cover!important;
  position: relative!important;
}
.bt-cat {
  border: 0px;
    background-color: #F22F59;
    padding: 5px;
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    font-family: system-ui;
    margin:6px;
}

.favorite-btn{
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  top: 124px;
  left: 24px;
  border: 2px solid #fff;
  background: #F22F59;
  padding-top: 15px;
  text-align: center;
  vertical-align: center;
  transition: .3s;
}

.card-body{
  padding: 24px;
  font-family: 'Lato','Arial',sans-serif;
  font-size: .9rem;

}

.rating ul{
  padding: 10px;
  margin-bottom: 0px;
}
.rating li{
  display: inline;
  color: #EFA127;
}


.starfull {
  fill:#EFA127!important;
}
.clippuj10 svg {
  margin-top: -10px;
}
.clippuj10 {
  width: 28px!important;
  height: 28px!important;
  cursor: pointer;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/



.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}



/* BAR PAGE */
#barTitle {
  font-size: 6.5em;
  color: white;
  font-weight: bolder;
  margin-bottom: 0.7em!important;
  margin-top: 0.7em!important;
}
.nav-item {
  margin-right: 25px;
  margin-left: 25px;
  font-size: 1.55em;
  color: #EFA127!important;
}
.nav-link {
  color: #EFA127;
  font-weight: normal;
  border-bottom: #EFA127 2px solid;
}
#barNav {
  margin-top: 25px;
}
.nav-link:hover {
  color: #EFA127;
  font-weight: bolder;
  border-bottom: #EFA127 5px solid;

}
.nav-link-selected {
  color: #EFA127;
  font-weight: bolder;
  border-bottom: #EFA127 5px solid;

  /* border:dashed; */
}


/* VALORATIONS */
.comment-section{padding:50px 0px; background: white;}

.R-title{color: #EFA127; font-size: 22px;font-weight:700; margin-bottom: 10px; }
.comment-section .media-review{padding:20px 0px;border-bottom:1px solid #ccc; display: -webkit-box;}
.comment-section .media-review:first-child{border-top:1px solid #ccc;}
.comment-section .media .media-user{margin-right: 15px; border-radius: 50%;overflow: hidden; background: rgb(236, 236, 236); width: 77px;height: 77px;  }
.comment-section .media .media-user img{width:100%; height:100%; object-fit: cover;}
.comment-section .media .M-flex{display: flex;justify-content: space-between;}
.comment-section .media .M-flex .title{font-size: 12px; color: #1c1d36;  margin-bottom: 10px;font-weight:400;}
.comment-section .media .M-flex .title span{font-size: 20px;  display: block;font-weight:700;margin-bottom:5px;}
.comment-section .media .description{font-size: 14px;  color: #5b5b5b;margin-bottom: 20px;}
.rating-row ul{list-style:none;display:flex; padding:0 ; margin:0;}
.rating-row ul li{color:#ffc107;font-size:20px;margin:0px 3px;}
.media-body {
  width: 93%;
}
/* PRODUCTS BAR */
    /*  Helper Styles */


/*     a {
      text-decoration: none;
  } */

  /* Card Styles */

  .card-sl {
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card-image img {
      max-height: 100%;
      max-width: 100%;
      border-radius: 8px 8px 0px 0;
  }

  .card-action {
      position: relative;
      float: right;
      margin-top: -25px;
      margin-right: 20px;
      z-index: 2;
      color: #E26D5C;
      background: #fff;
      border-radius: 100%;
      padding: 15px;
      font-size: 15px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  }

  .card-action:hover {
      color: #fff;
      background: #E26D5C;
      -webkit-animation: pulse 1.5s infinite;
  }

  .card-heading {
      font-size: 18px;
      font-weight: bold;
      background: #fff;
      padding: 10px 15px;
  }

  .card-text {
      padding: 10px 15px;
      background: #fff;
      font-size: 14px;
      color: #636262;
  }

  .card-button {
      display: flex;
      justify-content: center;
      padding: 10px 0;
      width: 100%;
      background-color: #1F487E;
      color: #fff;
      border-radius: 0 0 8px 8px;
  }

  .card-button:hover {
      text-decoration: none;
      background-color: #1D3461;
      color: #fff;

  }


  @-webkit-keyframes pulse {
      0% {
          -moz-transform: scale(0.9);
          -ms-transform: scale(0.9);
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
      }

      70% {
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -webkit-transform: scale(1);
          transform: scale(1);
          box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
      }

      100% {
          -moz-transform: scale(0.9);
          -ms-transform: scale(0.9);
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
          box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
      }
  }
