<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#valoModal">Añadir valoración</button>


<div class="modal fade" id="valoModal" tabindex="-1" aria-labelledby="valoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="valoModalLabel">Nueva valoración de {{bar.nom}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="customRange2" class="form-label">Valoración</label>
            <input type="range" class="form-range" min="0" max="5" #createValoRange>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Opinion:</label>
            <textarea class="form-control" id="createValoDescr" #createValoDescr></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createValoration()">Valorar</button>
      </div>
    </div>
  </div>
</div>
