<div class="comment-section">
  <div class="container">
    <div class="review">
      <h2 class="R-title">Valorations</h2>
      <app-create-valoration [bar]="bar"></app-create-valoration>
      <div class="comment-section">

        <div *ngFor="let number of valorations" class="media media-review">
          <div class="media-user"><img src="https://i.imgur.com/nUNhspp.jpg" alt=""></div>
          <div class="media-body">
            <div class="M-flex">
              <h2 class="title"><span> {{number.id_user}} </span>{{number.date}}</h2>
              <div class="rating-row">
                <ul>
                  <lucide-icon *ngIf="number.rate >= 1; else noStr1" name="star" class="starfull"></lucide-icon>
                  <ng-template #noStr1><lucide-icon name="star" class="star"></lucide-icon></ng-template>

                  <lucide-icon *ngIf="number.rate >= 2; else noStr2" name="star" class="starfull"></lucide-icon>
                  <ng-template #noStr2><lucide-icon name="star" class="star"></lucide-icon></ng-template>

                  <lucide-icon *ngIf="number.rate >= 3; else noStr3" name="star" class="starfull"></lucide-icon>
                  <ng-template #noStr3><lucide-icon name="star" class="star"></lucide-icon></ng-template>

                  <lucide-icon *ngIf="number.rate >= 4; else noStr4" name="star" class="starfull"></lucide-icon>
                  <ng-template #noStr4><lucide-icon name="star" class="star"></lucide-icon></ng-template>

                  <lucide-icon *ngIf="number.rate >= 5; else noStr5" name="star" class="starfull"></lucide-icon>
                  <ng-template #noStr5><lucide-icon name="star" class="star"></lucide-icon></ng-template>
                </ul>
              </div>
            </div>
            <div class="description">{{number.descr}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
