<div class="" style="background-image: url('https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg'); background-position: 100%; background-size: 100%;">
  <div class="row">
    <div class="col mx-auto">
      <div style="text-align: center; margin-top: 5%;">
        <img src="https://i.ibb.co/6wtNQhn/logo-large.png" alt="logo-large" border="0">
      </div>
      <div style="padding: 5%;" class="rounded shadow">
        <form action="" class="form-group row">
          <div class="p-1 bg-light rounded rounded-pill offset-md-1 shadow-sm mb-4 col-md-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <button id="button-addon2" type="" class="btn btn-link text-warning"><i class="fa fa-search">
                    <lucide-icon name="tag"></lucide-icon>
                  </i></button>
              </div>
              <input type="search" style="border-radius: 24px;" list="datalistOptions" #inputCat id="inputCat"
                placeholder="Categories" aria-describedby="button-addon2" (keyup)="getBars(false)"
                class="form-control border-0 bg-light">
              <datalist id="datalistOptions">
                <option *ngFor="let item of arrCatego" value="{{item.nom}}">
              </datalist>
              <!-- </div> -->
            </div>
          </div>
          <div class="p-1 bg-light rounded rounded-pill offset-md-1 shadow-sm mb-4 col-md-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <button id="button-addon2" type="" class="btn btn-link text-warning"><i class="fa fa-search">
                    <lucide-icon name="search"></lucide-icon>
                  </i></button>
              </div>
              <input type="search" id="inputNom" #inputNom (keyup)="getBars(false)" style="border-radius: 24px;"
                placeholder="What're you searching for?" aria-describedby="button-addon2"
                class="form-control border-0 bg-light">
            </div>
          </div>
          <div class="p-1 bg-light rounded rounded-pill offset-md-1 shadow-sm mb-4 col-md-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <button id="button-addon2" type="" class="btn btn-link text-warning"><i class="fa fa-search">
                    <lucide-icon name="map"></lucide-icon>
                  </i></button>
              </div>
              <input (keyup)="getBars(false)" id="inputCiutat" #inputCiutat type="search" style="border-radius: 24px;"
                placeholder="Location" aria-describedby="button-addon2" class="form-control border-0 bg-light">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div style="justify-content: space-evenly;" class="featured-listings">
<home-list-bar *ngFor="let item of arrBars" [bar]="item" (outCat)="resSearch($event)" ></home-list-bar>
<p (click)="loadMore()" #btLoadMore id="loadMore" style="padding: 8px; color: gray; border: gray 2px solid; cursor: pointer;">Load More</p>
</div>
