
<div  class="restaurant-card">
  <div class="card-header" style="height: 155px!important;">
    <div class="favorite-btn">
      <i><lucide-icon name="clipboard-list" class="clippuj10"></lucide-icon></i>
    </div>
  </div>
 <div class="card-body">
   <h1><a href="#">{{bar.nom}}</a></h1>
   <p>{{bar.direcc}}</p>
   <p>{{bar.descr}}</p>
   <p>{{bar.horari}}</p>
   <div class="rating">
     <ul>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
     </ul>
   </div>
 </div>
</div>
