
<div class="" style="background-image: url('https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg'); background-position: 100%; background-size: 100%;">
  <div class="row">

    <div class="col mx-auto">
      <h1 style="text-align: center; color: orange; font-weight: bold; margin-top: 30px;"  class="display-1">APPBAR</h1>

      <div style="padding: 5%;" class="rounded shadow">
        <form action="" class="form-group row">
          <!-- <div class="p-1 bg-light rounded rounded-pill shadow-sm col-md-4"> -->
            <div class="p-1 bg-light rounded rounded-pill offset-md-1 shadow-sm mb-4 col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"><lucide-icon name="tag"></lucide-icon></i></button>
                </div>
                <input type="search" style="border-radius: 24px;" list="datalistOptions" id="exampleDataList" placeholder="Categories" aria-describedby="button-addon2" class="form-control border-0 bg-light">
                <datalist id="datalistOptions">
                  <option value="Catego 1">
                  <option value="Catego 2">
                  <option value="Catego 3">

                </datalist>
              <!-- </div> -->
            </div>
          </div>
          <div class="p-1 bg-light rounded rounded-pill offset-md-1 shadow-sm mb-4 col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"><lucide-icon name="search"></lucide-icon></i></button>
              </div>
              <input type="search" style="border-radius: 24px;" placeholder="What're you searching for?" aria-describedby="button-addon2" class="form-control border-0 bg-light">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
