
<div class="featured-listings">
  <div class="restaurant-card">
     <div class="card-header">
       <div class="favorite-btn">
         <i class="fas fa-heart"></i>
       </div>
     </div>
    <div class="card-body">
      <h1><a href="#">Tupelo Honey Cafe</a></h1>
      <p>Raleigh, North Carolina</p>
      <div class="rating">
        <ul>
          <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
          <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
          <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
          <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
          <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="restaurant-card">
    <div class="card-header">
      <div class="favorite-btn">
        <i class="fas fa-heart"></i>
      </div>
    </div>
   <div class="card-body">
     <h1><a href="#">Tupelo Honey Cafe</a></h1>
     <p>Raleigh, North Carolina</p>
     <div class="rating">
       <ul>
         <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
         <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
         <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
         <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
         <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       </ul>
     </div>
   </div>
 </div>
 <div class="restaurant-card">
  <div class="card-header">
    <div class="favorite-btn">
      <i class="fas fa-heart"></i>
    </div>
  </div>
 <div class="card-body">
   <h1><a href="#">Tupelo Honey Cafe</a></h1>
   <p>Raleigh, North Carolina</p>
   <div class="rating">
     <ul>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
     </ul>
   </div>
 </div>
</div>
<div class="restaurant-card">
  <div class="card-header">
    <div class="favorite-btn">
      <i><lucide-icon name="clipboard-list" class="clippuj10"></lucide-icon></i>
    </div>
  </div>
 <div class="card-body">
   <h1><a href="#">Tupelo Honey Cafe</a></h1>
   <p>Raleigh, North Carolina</p>
   <div class="rating">
     <ul>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
     </ul>
   </div>
 </div>
</div>
<div class="restaurant-card">
  <div class="card-header">
    <div class="favorite-btn">
      <i class="fas fa-heart"></i>
    </div>
  </div>
 <div class="card-body">
   <h1><a href="#">Tupelo Honey Cafe</a></h1>
   <p>Raleigh, North Carolina</p>
   <div class="rating">
     <ul>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
       <li><i><lucide-icon name="star" class="starfull"></lucide-icon></i></li>
     </ul>
   </div>
 </div>
</div>
</div>
