<div class="generallogcontainer">
  <div class="logcontainer" #logcontainer id="logcontainer">
    <div class="logform-container logsign-up-container">
      <form [formGroup]="this.regForm">
        <h1>Register</h1>
        <div class="logsocial-container">
          <a href="#" class="logsocial"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="logsocial"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="logsocial"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input formControlName="nom" type="text" class="form-control form-control-lg" placeholder="Name" />
        <input formControlName="email" placeholder="Email" class="form-control form-control-lg" type="email"
          placeholder="Email" />
        <input formControlName="passwd" type="password" class="form-control form-control-lg" (change)="checkPass()" placeholder="Password" />
        <input formControlName="repasswd" type="password" class="form-control form-control-lg" (change)="checkPass()" placeholder="Repeat Password" />

        <button [disabled]="!this.validPassword" (click)="register()">Sign Up</button>
      </form>
    </div>
    <div class="logform-container logsign-in-container">
      <form action="#">
        <h1>Sign in</h1>
        <div class="logsocial-container">
          <a href="#" class="logsocial"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="logsocial"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="logsocial"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="logoverlay-container">
      <div class="logoverlay">
        <div class="logoverlay-panel logoverlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="logsignIn" (click)="leftPanel()">Sign In</button>
        </div>
        <div class="logoverlay-panel logoverlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="logsignUp" (click)="rightPanel()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
