<div>
  <div class="row gutters-sm">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img src="{{user.foto}}" alt="Admin" class="rounded-circle"
              width="150">
            <div class="mt-3">
              <h4>{{user.nom}}</h4>
              <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
              <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
              <button class="btn btn-primary">Follow</button>
              <button class="btn btn-outline-primary">Message</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display: inline-flex; flex-wrap: wrap;">
      <div class="card" style="width: 18rem;" *ngFor="let hobby of hobbies">
        <div class="card-body" >
          <h5 class="card-title">{{hobby.nom}}</h5>
          <p class="card-text">{{hobby.descr}}</p>
          <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateHobbyModal" (click)="modalUpdateHobby(hobby)">Update</a>
          <a class="btn btn-danger" (click)="deleteHobby(hobby._id)">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBarModal">Add Hobby</button>
</div>
<div class="modal fade" id="addBarModal" tabindex="-1" aria-labelledby="addBarModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label" #addBarName>Name:</label>
            <input type="text" class="form-control" #inNom id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label" #addBarDescr>Description:</label>
            <input type="text" class="form-control" #inDescr id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="newHobby()">Create Hobby</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="updateHobbyModal" tabindex="-1" aria-labelledby="updateHobbyModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label" #addBarName>Name:</label>
            <input type="text" class="form-control" #upNom id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label" #addBarDescr>Description:</label>
            <input type="text" class="form-control" #upDescr id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateHobby()">Update Hobby</button>
      </div>
    </div>
  </div>
</div>
