<div class="" style="background-image: url('{{bar.foto}}'); background-position: 100%; background-size: 100%;">
  <div class="row">
    <div class="col mx-auto">
      <div style="text-align: center; margin-top: 5%;">
        <p id="barTitle">{{bar.nom}}</p>
      </div>
    </div>
  </div>
</div>
<div id="barNav">
    <ul class="nav justify-content-center">
      <li *ngIf="page == 'carta'; else noSelCart" class="nav-item">
        <a class="nav-link nav-link-selected" aria-current="page" href="">Carta</a>
      </li>
      <ng-template #noSelCart>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/carta/{{slug_bar}}">Carta</a>
        </li>
      </ng-template>

      <li *ngIf="page == 'res'; else noSelRes" class="nav-item">
        <a class="nav-link nav-link-selected" href="">Reseñas</a>
      </li>
      <ng-template #noSelRes>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/res/{{slug_bar}}">Reseñas</a>
        </li>
      </ng-template>

      <li *ngIf="page == 'info'; else noSelInf" class="nav-item">
        <a class="nav-link nav-link-selected" href="">Información</a>
      </li>
      <ng-template #noSelInf>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/info/{{slug_bar}}">Información</a>
        </li>
      </ng-template>
    </ul>
</div>
<container-element [ngSwitch]="page">
  <!-- <some-element *ngSwitchCase="info">...</some-element>
  <some-element *ngSwitchCase="res">...</some-element>
  <some-element *ngSwitchDefault>...</some-element> -->
</container-element>


