<div class="" style="background-image: url('{{bar.foto}}'); background-position: 100%; background-size: 100%;">
  <div class="row">
    <div class="col mx-auto">
      <div style="text-align: center; margin-top: 5%;">
        <p id="barTitle">{{bar.nom}}</p>
      </div>
    </div>
  </div>
</div>
<div id="barNav">
  <ul class="nav justify-content-center">
    <li *ngIf="page == 'carta'; else noSelCart" class="nav-item">
      <a class="nav-link nav-link-selected" aria-current="page" href="">Carta</a>
    </li>
    <ng-template #noSelCart>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/carta/{{slug_bar}}">Carta</a>
      </li>
    </ng-template>
    <li *ngIf="page == 'res'; else noSelRes" class="nav-item">
      <a class="nav-link nav-link-selected" href="">Reseñas</a>
    </li>
    <ng-template #noSelRes>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/res/{{slug_bar}}">Reseñas</a>
      </li>
    </ng-template>
    <li *ngIf="page == 'info'; else noSelInf" class="nav-item">
      <a class="nav-link nav-link-selected" href="">Información</a>
    </li>
    <ng-template #noSelInf>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/info/{{slug_bar}}">Información</a>
      </li>
    </ng-template>
  </ul>
</div>
<container-element [ngSwitch]="page">
  <!-- <app-list-products></app-list-products> -->
  <div *ngSwitchCase="'carta'">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto px-0">
          <div id="sidebar" class="collapse collapse-horizontal show border-end">
            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
              <a *ngFor="let catego of categos" (click)="changeCatego(catego)"  class="list-group-item border-end-0 d-inline-block text-truncate"
                data-bs-parent="#sidebar"> <span>{{catego.nom}}</span> </a>

            </div>
          </div>
        </div>
        <main class="col ps-md-2 pt-2">
          <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
            class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a>
          <div class="container" style="margin-top:50px;">
            <div class="row">
              <div class="col-md-3" *ngFor="let prod of prodList">
              <app-list-products [prod]="prod"></app-list-products>
            </div>
            </div>
          </div>

        </main>
      </div>
    </div>
  </div>


  <app-list-valorations *ngSwitchCase="'res'" [bar]="bar"></app-list-valorations>
  <!-- <some-element *ngSwitchDefault>...</some-element> -->
</container-element>
